<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1 class='centredText'>Welcome to the Mathematical Minefield!</h1>
    <button type='button' id='instructionsBtn' class='startPageBtn' onclick='goTo("/instructions")'>How to play!</button>
    <button type='button' id='playBtn' class='startPageBtn' onclick='goTo("/play")'>Play Now!</button>
   
    <script src = '../javascripts/start.js'></script>

</body>
</html>